<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.cnpm.happylunch">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon1"
        android:label="Happy Lunch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
		
		<activity android:name=".VerifyEmail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Sign_Up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
		
        <activity android:name=".ListFoodsInCategory"></activity>
        <activity android:name=".FoodDetail" />
        <activity
            android:name=".Bag"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Bottom_Nav"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SelectLoginType"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>